html, body {
    font-family: $raleway;
    font-weight: $light;
    font-size: 18px;
    color: $black;
    height: 100%;
    margin: 0;
}

.btn_default {
    font-weight: $extraBold;
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid $white;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        background: $darkRed;
        border: 2px solid $darkRed;
    }

}

.clearfix {
    @extend %clearfix;
}

// Header
#header {
    @extend %clearfix;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 24px 24px 18px 24px;
    background: $white;
    z-index: 999;
    transition: padding .3s linear;

    &.scrolled {
        padding: 11px 24px 8px 24px;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        float: right;
        margin: 18px 8px;

        @media (min-width: 500px) {
            margin: 18px 20px;
        }

        @media (min-width: $gridBreakPoint) {
            display: none;
        }

        #nav-icon {
            position: relative;
            width: 30px;
            height: 21px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: $black;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0;
                    width: 100%;
                    opacity: 1;
                }

                &:nth-child(2) {
                    top: 9px;
                }

                &:nth-child(3) {
                    top: 9px;
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 100%;
                    opacity: 1;
                }

            }

            &.open {

                span {

                    &:nth-child(1) {
                        top: 9px;
                        left: 50%;
                        width: 0%;
                        height: 0;
                        opacity: 0;
                    }

                    &:nth-child(2) {
                        top: 9px;
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        top: 8px;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: 0px;
                        left: 50%;
                        width: 0%;
                        height: 0;
                        opacity: 0;
                    }

                }

            }

        }

    }

    .language {
        position: relative;
        float: left;
        margin-right: 0;

        @media (min-width: 1431px) {
            margin-right: 5.5%;
        }

        @media (min-width: 1680px) {
            margin-right: 3.5%;
        }

        @media (min-width: 1740px) {
            margin-right: 4.5%;
        }

        @media (min-width: 1780px) {
            margin-right: 6%;
        }

        @media (min-width: 1840px) {
            margin-right: 8%;
        }

        .lang_visible {
            position: relative;
            display: inline-block;
            float: left;
            width: 56px;
            color: $black;
            font-size: 16px;
            font-weight: $extraBold;
            border: 1px solid $middleGray;
            padding: 18px 15px 15px 17px;
            margin: 0 6% 0 14px;
            letter-spacing: 1px;
            transition: all .2s;
            z-index: 10;

            @media (min-width: 500px) {
                margin: 0 6% 0 34px;
            }

            @media (min-width: $gridBreakPoint) {
                margin: 0 9.5% 0 34px;
            }

            @media (min-width: 1431px) {
                margin: 0 3.5% 0 34px;
            }

            &:hover {
                border: 1px solid $gray;
                cursor: pointer;
            }

        }

        .lang_visible_border {
            border: 1px solid $gray;
        }

        .lang_hide {
            position: absolute;
            top: 17px;
            left: 20px;
            margin: 0;
            padding: 2px 1px 1px 10px;
            font-weight: $extraBold;
            border: 0;
            border-bottom: 2px solid transparent;
            z-index: 2;
            opacity: 0;
            transition: transform .25s, opacity .25s;

            @media (min-width: 500px) {
                left: 40px;
            }

            &::after {
                position: absolute;
                display: block;
                content: '';
                top: calc(50% - 5px);
                left: -4px;
                border: 5px solid transparent;
                border-right: 5px solid $black;
            }

            &:hover {
                border: 0;
                cursor: pointer;
            }

        }

        .lang_hide_active {
            opacity: 1;
            transform: translateX(55px);
        }

    }

    #logo {
        position: absolute;
        top: 34px;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        transition: top .3s linear;

        &.logoScrolled {
            top: 22px;

            @media (min-width: $gridBreakPoint) {
                top: 0;
            }

        }

        @media (min-width: $gridBreakPoint) {
            position: relative;
            top: 0;
        }

        @media (min-width: 1431px) {
            display: none;
        }

    }

    #top {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;

        @media (min-width: 1431px) {
            text-align: left;
        }

        .menu {
            display: none;

            @media (min-width: $gridBreakPoint) {
                display: inline;
            }

            li {
                position: relative;
                display: inline-block;
                font-size: 12px;
                font-weight: $extraBold;
                text-transform: uppercase;
                line-height: 57px;
                margin-right: 1px;
                letter-spacing: 0.2px;

                @media (min-width: $gridBreakPoint) {
                    margin-right: 5px;
                }

                @media (min-width: 1265px) {
                    letter-spacing: 1.3px;
                }

                @media (min-width: 1431px) {
                    font-size: 13px;
                }

                @media (min-width: 1510px) {
                    margin-right: 1%;
                }

                @media (min-width: 1680px) {
                    font-size: 16px;
                    margin-right: 5px;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: $black;
                    padding: 9px 6px;
                    border: 2px solid transparent;
                    transition: all .3s;

                    @media (min-width: 1120px) {
                        padding: 9px 14px;
                    }

                    @media (min-width: 1431px) {
                        padding: 9px 9px;
                    }

                    @media (min-width: 1680px) {
                        padding: 9px 14px;
                    }

                    &:hover {
                        border: 2px solid $darkRed;

                        &::after {
                            opacity: 1;
                        }

                    }

                    &.nav_hover {
                        @include navHover;

                        &::after {
                            opacity: 1;
                        }

                    }

                    &::after {
                        position: absolute;
                        bottom: 7px;
                        width: 22px;
                        left: 15px;
                        content: '';
                        border: 6px solid transparent;
                        border-bottom: 6px solid $white;
                        opacity: 0;
                        transition: opacity .2s;
                    }

                }

                &.logo {
                    display: none;
                    position: relative;
                    top: 7px;
                    margin: 0 17px 0 17px;

                    @media (min-width: 1431px) {
                        display: inline-block;
                    }

                    @media (min-width: 1580px) {
                        margin: 0 50px 0 47px;
                    }

                    @media (min-width: 1680px) {
                        margin: 0 58px;
                    }

                }

            }

        }

    }

    .submenu {
        position: absolute;
        display: none;
        bottom: -41px;
        left: 0;
        width: 100%;
        z-index: 20;
        background: $black;
        text-align: center;
        opacity: 0;
        transition: opacity .2s;

        li {
            display: inline-block;
            padding: 0;
            line-height: 40px;
            margin: 0 20px;

            a {
                padding: 0;
                color: $white;
                font-weight: $light;
                font-size: 0.8rem;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 1px;
                font-style: italic;
                transition: color .2s;


                &::after {
                    position: relative;
                    display: block;
                    content: '';
                    width: 0%;
                    height: 1px;
                    left: 50%;
                    bottom: 12px;
                    background: $darkGray;
                    transition: all .2s linear;
                }

                &:hover {
                    color: $yellow;

                    &::after {
                        width: 70%;
                        left: 20%;
                    }

                }

            }

        }

    }

    .submenuActive {
        opacity: 1;
    }

}

.main {
    margin-top: 99px;
    height: 100%;
    transition: .2s;

    @media (min-width: $gridBreakPoint) {
        margin-top: 136px;
    }

    @media (min-width: 1431px) {
        margin-top: 99px;
    }

    &.scrolled_main {
        margin-top: 76px;
    }

    .mobile_nav_bg {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: $mainblackOpacity;
        margin: 0 auto;
        text-align: center;
        z-index: 999;
        transition: .2s linear;

        &.mobile_nav_bg_active {
            @include visible;
        }

        .mobileNav {
            margin-top: -100px;

            li {
                font-weight: $semiBold;
                font-size: 30px;
                text-transform: uppercase;
                color: $middleGray;
                cursor: pointer;
                line-height: 40px;
                transition: .2s;

                &:hover {
                  font-size: 32px;
                  color: $white;
                }

            }

        }

    }

      // Section SLIDER
      #slider {
          position: relative;
          color: $white;

        .slide_img {
            display: none;
            object-fit: cover;
            width: 100%;
            height: 300px;

            &:first-of-type {
                display: block;
            }

            @media (min-width: 530px) {
                width: 100%;
                height: 100%;
            }

        }

        .fade {
            @include visible;
            @include animation('fade 1s');
        }

        @include keyframes(fade) {
            0%   {opacity: .5}
            100% {opacity: 1}
        }

        .slider_text {
            position: absolute;
            bottom: 70px;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            text-align: center;

            @media (min-width: 465px) {
                bottom: 100px;
            }

            @media (min-width: 530px) {
                bottom: 50px;
            }

            @media (min-width: 930px) {
                width: 60%;
            }

            @media (min-width: 1000px) {
                bottom: 90px;
            }

            @media (min-width: 1100px) {
                width: 80%;
            }

            h1 {
                font-size: 30px;
                font-weight: $semiBold;
                text-transform: uppercase;
                letter-spacing: 8px;
                text-shadow: 2px 2px 5px $black;
                transition: all .3s;

                @media (min-width: 465px) {
                    font-weight: $extraLight;
                }

                @media (min-width: 580px) {
                    font-size: 40px;
                }

                @media (min-width: 670px) {
                    font-size: 50px;
                }

                @media (min-width: 1260px) {
                    font-size: 90px;
                }

            }

            p {
                font-size: 20px;
                padding-top: 0;
                letter-spacing: 0.8px;
                text-shadow: 2px 2px 5px $black;
                transition: all .3s;

                @media (min-width: 580px) {
                    font-size: 30px;
                }

                @media (min-width: 1260px) {
                    padding-top: 27px;
                    font-size: 36px;
                }

                img {
                    position: relative;
                    top: 8px;
                    left: 11px;
                    width: 30px;

                    @media (min-width: 580px) {
                        position: relative;
                        top: 8px;
                        left: 11px;
                        width: 47px;
                    }

                }

            }

        }

        .rating {
            display: none;
            position: absolute;
            bottom: 79px;
            left: 55px;
            border: 1px solid $white;
            text-align: center;
            padding: 18px 16px 18px 24px;
            background: rgba(0, 0, 0, .36);

            @media (min-width: 930px) {
                display: block;
            }

            span {
                display: block;
                font-weight: $extraBold;
                font-size: 24px;
                letter-spacing: 3px;

                &:nth-of-type(2) {
                    font-weight: $light;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: $semiBold;
                    letter-spacing: 1px;
                    padding-top: 7px;
                }

            }

        }

        .reservation {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 14px 25px;
            background: $darkRed;
            text-transform: uppercase;
            letter-spacing: 2.20px;
            text-align: center;
            cursor: pointer;
            transition: transform .25s;

            @media (min-width: 760px) {
                display: inline-block;
            }

            @media (min-width: 850px) {
                top: 25px;
                right: 0;
            }

            @media (min-width: 900px) {
                top: 45px;
            }

            div {
                display: inline-block;
                font-size: 24px;
                font-weight: $extraBold;
            }

            span {
                display: block;
                font-weight: $light;
                font-size: 16px;
                letter-spacing: 1.2px;
            }

        }

    }

    // Section PACKETS
    #packets {
        padding: 54px 0 23px 0;

        h2 {
            font-size: 40px;
            font-weight: $extraLight;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            padding-bottom: 11px;

            @include h3FontSize;

        }

        span {
            display: block;
            font-size: 24px;
            font-weight: $light;
            text-align: center;
            color: $gray;
            letter-spacing: 2.8px;
            padding-bottom: 54px;
        }

        .packets_slides {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;

            span {
                color: $black;
                font-weight: $extraBold;
                text-transform: uppercase;
                padding-top: 26px;
            }

            .packets_slide {
                display: none;
                width: 460px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                transition: visibility .1s, opacity .2s linear;

                &:nth-of-type(-n+3) {
                    display: block;
                }

                .packets_slide_inner {
                    display: inline-block;
                    position: relative;
                    width: 432px;
                    height: 404px;
                    overflow: hidden;

                    img {
                        -webkit-transition: all .5s linear;
                        transition: all .5s linear;
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                      }

                      &:hover img {
                          -webkit-transform: scale3d(1.15, 1.15, 1);
                          transform: scale3d(1.15, 1.15, 1);
                      }

                      &:hover > .packets_slide_hover {
                          background: rgba(0,0,0,0.2);
                      }

                      .packets_slide_hover {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          position: absolute;
                          width: 100%;
                          height: 100%;
                          left: 0;
                          right: 0;
                          top: 0;
                          bottom: 0;
                          text-align: center;
                          transition: all .2s;

                          &:hover > .btn_default {
                              opacity: 1;
                          }

                          .btn_default {
                              display: table;
                              opacity: 0;
                              padding: 16px 52px;
                              transition: all .2s;
                          }

                      }

                  }

              }

              .packets_slide_active {
                  @include visible;
              }

        }

        .packets_ctrls {
            position: absolute;
            top: calc(40% - 46px);
            fill: #999999;

            &:hover {
                fill: $darkRed;
                cursor: pointer;
            }

            &.p_ctrls_left {
                left: 10px;
                transition: all .2s;
                @include mediaSliderControls(left);

                &:hover {
                    left: 7px;
                    @include mediaSliderControlsHover(left);
                }

            }

            &.p_ctrls_right {
                right: 10px;
                transition: all .2s;
                @include mediaSliderControls(right);

                &:hover {
                    right: 7px;
                    @include mediaSliderControlsHover(right);
                }

            }

        }

    }

    // Section ROOMS
    #rooms {
        padding: 0;
        background: url('../img/rooms.jpg');

        @media (min-width: $gridBreakPoint) {
            padding: 85px 0 85px 0;
        }

        .rooms_decription {
            max-width: 100%;
            padding: 87px 57px;
            background: $darkOpacity;
            text-align: center;

            @media (min-width: $gridBreakPoint) {
                margin-left: 40px;
                width: 70%;
                display: block;
                text-align: left;
            }

            @media (min-width: 1400px) {
                width: 50%;
            }

            @media (min-width: 1660px) {
                width: 60%;
                margin-left: 0;
            }

            h3 {
                font-size: 40px;
                font-weight: $extraLight;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                padding-bottom: 28px;

                @include h3FontSize;

            }

            p {
                color: $white;
                font-weight: $light;
                line-height: 36px;
                letter-spacing: 0.8px;
                padding-bottom: 55px;
            }

            .btn_default {
                display: table;
                padding: 17px 34px;
                margin: 0 auto;

                @media (min-width: $gridBreakPoint) {
                    margin: 0
                }

            }

        }

    }

    // Section SPA
    #spa {
        padding: 132px 0;

        .spa_image {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;

            @media (min-width: $gridBreakPoint) {
                padding-left: 20px;
                padding-right: 0;
            }

            @media (min-width: 1450px) {
                padding-left: 0;
                padding-right: 0;
            }

            .imgs {
                display: none;
                margin: 0 auto;

                &:first-of-type {
                    display: block;
                }

            }

            .slide_active {
                @include visible;
                @include animation('fade .8s');
            }

            @include keyframes(fade) {
                0%   {opacity: .5}
                100% {opacity: 1}
            }


            .controls {
                position: absolute;
                width: 130px;
                bottom: 28px;
                left: 0px;
                right: 0;
                margin: 0 auto;

                @media (min-width: $gridBreakPoint) {
                    bottom: 28px;
                    left: 26px;
                    margin: 0;
                }

                .image_ctrls_left, .image_ctrls_stop, .image_ctrls_right {
                    position: relative;
                    padding: 6px;
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin: 0 3px;
                    color: $white;
                    cursor: pointer;
                    opacity: 1;
                    visibility: visible;
                    transition: all .2s linear;

                    &:hover {
                        color: $darkRed;
                    }

                    .fa-play {
                        opacity: 1;
                        display: block;
                        &.hiddenplay {
                            opacity: 0;
                            display: none;
                        }
                    }

                    .fa-pause {
                        opacity: 0;
                        display: none;
                        &.play {
                            opacity: 1;
                            display: block;
                        }

                    }

                }

                .image_ctrls_left {
                    padding: 8px 0px 0px 9px;
                }

                .image_ctrls_stop {
                    padding: 8px 0px 0px 11px;
                }

                .image_ctrls_right {
                    padding: 8px 0px 0px 9px;
                }

                .controls_hidden {
                    @include hidden;
                }

            }

        }

        .spa_description {
            padding: 61px 10% 0 10%;
            text-align: center;

            @media (min-width: $gridBreakPoint) {
                padding: 20px 30px 0 50px;
                text-align: left;
            }

            @media (min-width: 1450px) {
                padding: 61px 60px 0 116px;
                text-align: left;
            }

            h3 {
                font-size: 40px;
                font-weight: $extraLight;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $dark;
                padding-bottom: 28px;

                @include h3FontSize;

            }

            p {
                color: $gray;
                font-weight: $light;
                line-height: 36px;
                letter-spacing: 0.8px;
                padding-bottom: 55px;
            }

            .btn_default {
                display: table;
                padding: 18px 40px;
                background: $darkRed;
                border: 2px solid $darkRed;
                margin: 0 auto;
                transition: all .2s linear;

                &:hover {
                    background: $white;
                    color: $darkRed;
                }

                @media (min-width: $gridBreakPoint) {
                    margin: 0;
                }

            }

        }

    }

    // Section LOCALIZATION
    #localization {
        padding: 0;
        background: url('../img/localization.jpg');

        @media (min-width: $gridBreakPoint) {
            padding: 75px 0 75px 0;
        }

        .localization_decription {
            width: 100%;
            padding: 46px 57px 56px 57px;
            background: $darkOpacity;
            text-align: center;

            @media (min-width: $gridBreakPoint) {
                margin-left: 40px;
                width: 70%;
                display: block;
                text-align: left;
            }

            @media (min-width: 1400px) {
                width: 50%;
            }

            @media (min-width: 1660px) {
                width: 60%;
                margin-left: 0;
            }

            h3 {
                font-size: 40px;
                font-weight: $extraLight;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                padding-bottom: 28px;

                @include h3FontSize;

            }

            p {
                width: 100%;
                color: $white;
                font-weight: $light;
                line-height: 36px;
                letter-spacing: 0.8px;
                padding-bottom: 55px;

                @media (min-width: $gridBreakPoint) {
                    width: 78%;
                }

            }

            .btn_default {
                display: table;
                padding: 17px 34px;
                margin: 0 auto;

                @media (min-width: $gridBreakPoint) {
                    margin: 0
                }

            }

        }

    }

    // Section CONFERENCES
    #conferences {
        padding: 132px 0;

        .conferences_image {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;

            @media (min-width: $gridBreakPoint) {
                padding-left: 20px;
                padding-right: 0;
            }

            @media (min-width: 1450px) {
                padding-left: 0;
                padding-right: 0;
            }

            .imgs {
                display: none;
                margin: 0 auto;

                &:first-of-type {
                    display: block;
                }

            }

            .slide_active {
                @include visible;
                @include animation('fade .8s');
            }

            @include keyframes(fade) {
                0%   {opacity: .5}
                100% {opacity: 1}
            }

            .controls {
                position: absolute;
                width: 130px;
                bottom: 28px;
                left: 0px;
                right: 0;
                margin: 0 auto;

                @media (min-width: $gridBreakPoint) {
                    bottom: 28px;
                    left: 26px;
                    margin: 0;
                }

                .image_ctrls_left, .image_ctrls_stop, .image_ctrls_right {
                    position: relative;
                    padding: 6px;
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    margin: 0 3px;
                    color: $white;
                    cursor: pointer;
                    opacity: 1;
                    visibility: visible;
                    transition: all .2s linear;

                    &:hover {
                        color: $darkRed;
                    }

                    .fa-play {
                        opacity: 1;
                        display: block;
                        &.hiddenplay {
                            opacity: 0;
                            display: none;
                        }
                    }

                    .fa-pause {
                        opacity: 0;
                        display: none;
                        &.play {
                            opacity: 1;
                            display: block;
                        }

                    }

                }

                .image_ctrls_left {
                    padding: 8px 0px 0px 9px;
                }

                .image_ctrls_stop {
                    padding: 8px 0px 0px 11px;
                }

                .image_ctrls_right {
                    padding: 8px 0px 0px 9px;
                }

                .controls_hidden {
                    @include hidden;
                }

            }

        }

        .conferences_description {
            padding: 61px 10% 0 10%;
            text-align: center;

            @media (min-width: $gridBreakPoint) {
                padding: 20px 30px 0 50px;
                text-align: left;
            }

            @media (min-width: 1450px) {
                padding: 61px 60px 0 116px;
                text-align: left;
            }

            h3 {
                font-size: 40px;
                font-weight: $extraLight;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $dark;
                padding-bottom: 28px;

                @include h3FontSize;

            }

            p {
                color: $gray;
                font-weight: $light;
                line-height: 36px;
                letter-spacing: 0.8px;
                padding-bottom: 55px;
            }

            .btn_default {
                display: table;
                padding: 18px 40px;
                background: $darkRed;
                border: 2px solid $darkRed;
                margin: 0 auto;
                transition: all .2s linear;

                &:hover {
                    background: $white;
                    color: $darkRed;
                }

                @media (min-width: $gridBreakPoint) {
                    margin: 0;
                }

            }

        }

    }

    // Section FAMILY
    #family {
        padding: 0;
        background: url("../img/family.jpg");

        @media (min-width: $gridBreakPoint) {
            padding: 124px 0 130px 0;
        }

        .family_decription {
            width: 100%;
            padding: 47px 57px;
            background: $darkOpacity;
            text-align: center;

            @media (min-width: $gridBreakPoint) {
                margin-left: 40px;
                display: block;
                width: 70%;
                text-align: left;
            }

            @media (min-width: 1400px) {
                width: 50%;
            }

            @media (min-width: 1660px) {
                width: 60%;
                margin-left: 0;
            }

            h3 {
                font-size: 40px;
                font-weight: $extraLight;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                padding-bottom: 28px;

                @include h3FontSize;

            }

            p {
                width: 100%;
                color: $white;
                font-weight: $light;
                line-height: 36px;
                letter-spacing: 0.8px;
                padding-bottom: 14px;

                @media (min-width: $gridBreakPoint) {
                    width: 78%;
                }

            }

        }

    }

    //Section contact
    #contact {

        &.container {
            max-width: 100%;

            .col-6 {
                padding-left: 0;
                padding-right: 0;

                #map {
                    height: 800px;
                    width: 100%;

                    @media (min-width: $gridBreakPoint) {
                        height: 1230px;
                    }

                    @media (min-width: 1046px) {
                        height: 1195px;
                    }

                    @media (min-width: 1150px) {
                        height: 1160px;
                    }

                    @media (min-width: 1288px) {
                        height: 1118px;
                    }

                    @media (min-width: 1320px) {
                        height: 1009px;
                    }

                    @media (min-width: 1700px) {
                        height: 822px;
                    }

                }

                .contact_right {
                    display: table;
                    width: 100%;
                    padding: 40px 30px 60px 30px;
                    background: url("../img/contact.jpg") no-repeat 50% 50%;
                    text-align: center;

                    @media (min-width: 480px) {
                        padding: 40px 60px 60px 60px;
                    }

                    @media (min-width: $gridBreakPoint) {
                        text-align: left;
                    }

                    @media (min-width: 1700px) {
                        padding: 68px 60px 0 60px;
                        text-align: left;
                    }

                    .col-4 {
                        @media (min-width: $gridBreakPoint) {
                            width: 100%;
                            text-align: center;
                        }

                        @media (min-width: 1700px) {
                            width: 45%;
                            text-align: left;
                        }

                        p {
                            color: $white;
                            font-size: 24px;
                            line-height: 35px;
                            padding-top: 17px;
                            padding-bottom: 22px;

                            @media (min-width: 1320px) {
                                width: 50%;
                                float: left;
                            }

                            @media (min-width: 1700px) {
                                width: 100%;
                                float: none;
                            }

                            &:nth-of-type(2) {
                                font-weight: $extraBold;
                                text-transform: uppercase;
                                letter-spacing: 2.4px;
                                padding-right: 0;
                                padding-bottom: 75px;

                                @media (min-width: $gridBreakPoint) {
                                    padding-right: 0;
                                }

                                @media (min-width: 1700px) {
                                    padding-right: 55px;
                                }

                            }

                        }

                    }

                    .col-8 {
                        text-align: center;

                        @media (min-width: $gridBreakPoint) {
                            width: 100%;
                        }

                        @media (min-width: 1700px) {
                            width: 55%;
                        }

                        p {
                            color: $white;
                            width: 100%;
                            margin-left: 0;
                            font-weight: $extraBold;
                            font-size: 37px;
                            text-transform: uppercase;
                            border: 1px solid $white;
                            padding: 40px 0 40px 0;
                            letter-spacing: 3px;

                            @media (min-width: 480px) {
                                padding: 74px 0 77px 0;
                            }

                            @media (min-width: 530px) {
                                letter-spacing: 6px;
                            }

                            @media (min-width: $gridBreakPoint) {
                                width: 100%;
                                margin: 0 auto;
                            }

                            span {
                                display: block;
                                text-transform: none;
                                font-size: 20px;
                                padding-top: 9px;
                                line-height: 27px;
                                letter-spacing: 0;

                                @media (min-width: 530px) {
                                    font-size: 30px;
                                    line-height: 47px;
                                }

                                a {
                                    text-decoration: none;
                                    color: $white;
                                }

                            }

                        }

                    }

                }

                .providemail {
                    background: $black;
                    color: $white;
                    font-weight: $light;
                    font-size: 18px;
                    padding: 60px 8% 40px 8%;
                    text-align: center;

                    @media (min-width: 760px) {
                        padding: 79px 15% 0 15%;
                    }

                    @media (min-width: $gridBreakPoint) {
                        padding: 79px 30px 16px 30px;
                    }

                    @media (min-width: 1700px) {
                        padding: 79px 100px 16px 100px;
                    }

                    p {
                        font-size: 36px;
                        font-weight: $extraLight;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        padding-bottom: 22px;

                        @media (min-width: 460px) {
                            letter-spacing: 4px;
                        }

                        @media (min-width: 840px) {
                            letter-spacing: 7px;
                        }

                    }

                    span {
                        display: block;
                        line-height: 35px;
                    }

                    .emailform {
                        position: relative;
                        margin-top: 37px;

                        input {
                            width: 90%;
                            border: 0;
                            outline: 0;
                            padding: 17px;

                            @media (min-width: 410px) {
                                width: 40%;
                            }

                            @media (min-width: $gridBreakPoint) {
                                width: auto;
                            }

                            &::placeholder {
                                font-weight: $light;
                                color: $gray;
                            }

                        }

                        span {
                            display: inline-block;
                            width: 90%;
                            border: 0;
                            outline: 0;
                            background: $darkRed;
                            text-transform: uppercase;
                            font-weight: $extraBold;
                            font-size: 15px;
                            letter-spacing: 1px;
                            padding: 10px 0;
                            cursor: pointer;
                            transition: all .2s linear;

                            &:hover {
                                background: $white;
                                color: $black;
                            }

                            &.error {
                                visibility: hidden;
                                position: absolute;
                                top: -110px;
                                left: 20%;
                                width: 100%;
                                max-width: 60%;
                                line-height: 20px;
                                padding: 10px;
                                font-weight: normal;
                                text-transform: none;
                                transition: visibility .2s;

                                &.err_active {
                                    @include visible;
                                }

                                &:hover {
                                    background: $darkRed;
                                    color: $white;
                                    cursor: auto;
                                }

                                @media (min-width: 453px) {
                                    top: -90px;
                                }

                                @media (min-width: 622px) {
                                    top: -70px;
                                }

                                @media (min-width: 961px) {
                                    top: -90px;
                                }

                                @media (min-width: 1154px) {
                                    top: -70px;
                                }

                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 8px;
                                    border: 8px solid transparent;
                                    border-top: 8px solid $darkRed;
                                    bottom: -15px;
                                    left: calc(20% - 6px);
                                }

                            }

                            @media (min-width: 410px) {
                                width: 30%;
                            }

                            @media (min-width: $gridBreakPoint) {
                                padding: 10px 50px;
                            }

                        }

                    }

                    .checkbox {
                        position: relative;
                        padding: 22px 30px 34px 30px;

                        input[type=checkbox] {
                            display: none;

                            + label {
                                position: relative;
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                padding: 8px 7px 7px 8px;
                                cursor: pointer;
                                border: 3px solid $darkGray;

                            }

                            &:checked + label > .fa-check {
                                opacity: 1;
                            }

                        }

                        .fa-check {
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            font-size: 13px;
                            opacity: 0;
                            transition: opacity .2s;
                        }

                        span {
                            display: inline-block;
                            position: relative;
                            top: -2px;
                            left: 10px;
                            font-weight: $light;
                            font-size: 18px;
                            letter-spacing: 0;
                            text-transform: none;
                            background: none;
                        }

                    }

                }

            }

        }

    }

    // Footer
    #footer {
        @extend %clearfix;
        color: $gray;
        background: $white;
        padding: 50px 66px 66px 73px;

        @media (min-width: 500px) {
            padding: 66px 66px 66px 73px;
        }

        .col-1 {
            width: 100%;
            float: left;
            margin-bottom: 30px;

            @media (min-width: 500px) {
                width: 50%;
            }

            @media (min-width: 1288px) {
                width: 15%;
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
                display: block;
                line-height: 23px;
                text-align: center;

                @media (min-width: 500px) {
                    text-align: left;
                }

            }

        }

        .col-2 {
            width: 100%;
            float: left;
            margin-bottom: 40px;

            @media (min-width: 500px) {
                width: 50%;
                margin-bottom: 0;
            }



            @media (min-width: 1288px) {
                width: 40%;
                margin-bottom: 0;
            }

            @media (min-width: 1500px) {
                width: 30%;
                margin-bottom: 0;
            }

            span {
                display: block;
                font-size: 14px;
                line-height: 20px;
                text-align: center;

                @media (min-width: 500px) {
                    text-align: right;
                }

                @media (min-width: 1288px) {
                    display: inline;
                    font-size: 18px;
                    line-height: 46px;
                    text-align: left;
                }

                &:first-of-type {
                    padding-left: 0;
                    padding-right: 0;

                    @media (min-width: 1288px) {
                        padding-left: 15%;
                        padding-right: 5%;
                    }

                    @media (min-width: 1700px) {
                        padding-left: 15%;
                        padding-right: 14%;
                    }

                }

            }

        }

        .col-3 {
            width: 100%;
            float: left;
            text-align: center;
            padding-right: 5%;

            @media (min-width: 500px) {
                text-align: left;
            }

            @media (min-width: 1288px) {
                width: 38%;
                text-align: right;
            }

            @media (min-width: 1700px) {
                width: 40%;
            }

            .facebook, .instagram, .tripadvistor, .holidaycheck {
                display: inline-block;
                width: 53px;
                height: 53px;
                border: 1px solid $lightGray;
                padding: 15px;
                margin: 0 1px;
                transition: all .2s;

                @media (min-width: 500px) {
                    margin: 0 5px;
                }

                svg {
                    fill: #aaaaaa;
                }

                &:hover {
                    background: $darkRed;
                    cursor: pointer;

                    > svg {
                        fill: $white;
                    }
                }

            }

        }

        .col-4 {
            position: relative;
            width: 10%;
            float: left;

            @media (min-width: 745px) {
                width: 50%
            }

            @media (min-width: 1288px) {
                width: 15%;
            }

            .goToTop_text {
                display: none;
                padding-top: 20px;
                font-weight: $extraBold;
                font-size: 15px;
                color: $black;
                text-transform: uppercase;
                letter-spacing: 0.6px;
                text-align: left;
                margin-left: 90px;
                opacity: 0;
                visibility: hidden;
                transition: visibility .1s, opacity .2s linear;

                @media (min-width: 745px) {
                    width: 50%;
                }

                @media (min-width: $gridBreakPoint) {
                    left: 8px;
                }

                @media (min-width: 1530px) {
                    display: table-cell;
                }

            }

            .goToTop_text_active {
                @include visible;
            }

            .goToTop {
                position: fixed;
                bottom: 66px;
                right: 66px;
                display: none;
                width: 54px;
                height: 53px;
                background: $blackOpacity;
                padding: 10px;
                opacity: 0;
                visibility: hidden;
                transition: all .2s linear;

                @media (min-width: 500px) {
                    display: inline-block;
                }

                @media (min-width: 570px) {
                    right: 84px;
                }

                &:hover {
                    cursor: pointer;
                    background: $darkRed;
                }

                svg {
                    fill: $white;
                }

            }

            .goToTop_bottom {
                background: $black;
            }

            .goToTop_active {
                @include visible;
            }

        }

    }

}
