// Grid -----------------------------
$gridContainerWidth:    1378px;
$gridBreakPoint:        961px;
$gridColumns:           12;

// Colors ---------------------------
$black:                 #1A1414;
$blackOpacity:          rgba(26,20,20,0.2);
$mainblackOpacity:      rgba(0,0,0,0.95);
$dark:                  #2b2120;
$darkOpacity:           rgba(26,20,20,0.8);
$white:                 white;
$lightGray:             #e7e7e7;
$middleGray:            #dedede;
$gray:                  #888888;
$darkGray:              #5f5b5b;
$darkRed:               #841f1f;
$yellow:                yellow;

// Fonts ----------------------------
$raleway:               'Raleway', sans-serif;
$extraLight:            200;
$extraLightItalic:      200i;
$light:                 300;
$semiBold:              600;
$extraBold:             800;
